@font-face {
  font-family: "Averi";
  src: local("Averi-Regular"),
    url("./fonts/avenir.otf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Work-sans";
  src: local("WorkSans-Regular"),
    url("./fonts/worksans.ttf") format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  font-family: Work-sans,
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.averi {
  font-family: Averi;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}